body {
  background-color: #F3F7F0;
  font-family: 'Indie Flower', cursive;
}

button {
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 2px solid blueviolet;
  color: blueviolet;
  font-size: 18px;
}

.app__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 7rem;
}

.app__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.app__input {
  display: flex;
  flex-direction: column;
}

details ul {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  list-style-type: none;
}

summary {
  font-size: 24px;
}